html {
    background-image: url("backgroundimage.jpeg");
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    
}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(11, 11, 11);
    
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    justify-content: center;
    margin: 1rem 0;
    width: max-content;
}
.tile {
    background-color: rgb(113, 146, 120);
    border: 1px solid black;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header, footer {
  padding: 0.3rem;
  background: #2e4437;
  color: white;
  text-align: center;
}

nav button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

section:target, #home {
  display: block;
}

figure {
  text-align: center;
}

button {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1rem;
}

button:hover {
  background-color: #777;
}
